.sectionAboutMe {
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;
}

.titleAboutMe {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.imagenPersonal {
    width: 380px;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
}

.containerAboutMe {
    display: flex;
    justify-content: center;
}

.containerTextAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin-left: 80px;
}

.DescriptionAboutMe {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}