.titleServices {
    margin-top: 80px;
    margin-bottom: 50px;
}

.containerGeneralServices {
    display: grid;
    grid-template-columns: 1fr;
}

.carousel {
    justify-content: center;
}


.containerCards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 400px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.containerTextServices {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;


    .textServices {
        width: 50%;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.card-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.imageServices {
    width: 100%;
    height: 280px;
}