.sectionSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.titleSkills {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.listSkills {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icons-image {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}

.icons-skill:nth-child(1) a:before {
    background: #fb8714;
}

.icons-skill:nth-child(2) a:before {
    background: #3092d3;
}

.icons-skill:nth-child(3) a:before {
    background: #792ad9;
}

.icons-skill:nth-child(4) a:before {
    background: #f345bf;
}

.icons-skill:nth-child(5) a:before {
    background: #e5d11e;
}

.icons-skill:nth-child(6) a:before {
    background: #4badee;
}

.icons-skill:nth-child(7) a:before {
    background: #2bd23e;
}