.titleHabilities {
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.textSkills {
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 50vw;
    color: white;
    border-radius: 30px;
}


.textHabilities {
    color: black;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 25vw;
    border-radius: 20px;
    margin-bottom: 50px;
}

.listSkills {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.containerSkills {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.containerTextSkills {
    margin-left: 30px;
    margin-right: 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.icons-skill:nth-child(1) a:before {
    background: #fb8714;
}

.icons-skill:nth-child(2) a:before {
    background: #3092d3;
}

.icons-skill:nth-child(3) a:before {
    background: #792ad9;
}

.icons-skill:nth-child(4) a:before {
    background: #f345bf;
}

.icons-skill:nth-child(5) a:before {
    background: #e5d11e;
}

.icons-skill:nth-child(6) a:before {
    background: #4badee;
}

.icons-skill:nth-child(7) a:before {
    background: #2bd23e;
}