@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto:wght@300;400&family=Rubik&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




@import '../components/Navbar/navbar';
@import '../components/Footer/footer';
@import '../components/Form/form';


@import './abstracts/variables';
@import './sections/skills';
@import './sections/principal';
@import './sections/certificates';
@import './sections/aboutMe';
@import './sections/services';
@import './sections/portfolio';
@import './bases/mediaQuerysLaptop';
@import './bases/mediaQuerysTablet';
@import './bases/mediaQuerysMobile';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
