@media screen and (max-width:420px) {

    .navbar-nav {
        margin-top: 40px;
    }

    .heroImage {
        height: 500px;
    }

    .containerHeroText {
        text-align: center;
        align-items: center;
    }


    .text-presentation {
        font-size: 14px;
        width: 70vw;
    }

    .about {
        margin: 70px 0 0 0;
    }

    .titleAboutMe {
        font-size: 28px;
    }

    .imagenPersonal {
        height: 300px;
        width: 230px;
    }

    .container-about {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .container-text-about {
        margin-left: 0;
        width: 70%;
    }

    .description-about {
        font-size: 14px;
    }

    .sectionSkills {
        margin-top: 30px;
    }

    .titleSkills {
        font-size: 28px;
    }

    .listSkills {
        flex-wrap: wrap;
        gap: 10px;
    }

    .ol,
    ul {
        padding-left: 0rem;
    }

    .portfolio {
        margin-top: 40px;
    }

    .portfolio-title {
        font-size: 28px;
    }

    .portfolio-subtitle {
        font-size: 14px;
        width: 80%;
        margin: 10px;
    }

    .imageProject {
        width: 300px;
        height: 150px;
    }

    .container-projects {
        flex-direction: column;
        align-items: center;
    }

    .container-images-projects {
        width: 320px;
        height: 300px;
    }

    .imageProject {
        width: 300px;
        height: 300px;
    }

    .container-text-projects {
        width: 320px;
        height: 300px;
    }

    .title-project {
        font-size: 24px;
    }

    .description-project {
        line-height: 20px;
        font-size: 14px;
        width: 90%;
    }

    .container-buttons {
        margin-top: 0;
    }

    .button-portfolio {
        width: 120px;
    }

    .certifications {
        margin: 0;
    }

    .title-certificate {
        font-size: 28px;
    }

    .subtitle-certification {
        width: 80%;
        font-size: 14px;
    }

    .form-contact {
        width: 80%;
    }

    .content {
        width: 100%;
    }

    .titleForm {
        font-size: 28px;
    }

    .subtitleForm {
        width: 90vw;
        font-size: 12px;
    }

    .contact-wrapper>* {
        padding: 1em;
    }

    .textDerechos {
        font-size: 14px;
        text-align: center;
    }

    .contact-form {
        font-size: 12px;
    }

}