@media screen and (max-width: 1520px) {


    .container-about {
        margin-bottom: 30px;
    }

    .title-about {
        font-size: 32px;
    }

    .imagenPersonal {
        width: 280px;
        height: 350px;
    }

    .titleSkills {
        font-size: 32px;
    }

    .portfolio-title {
        font-size: 32px;
    }

    .portfolio-subtitle {
        width: 40%;
        font-size: 16px;
        margin-top: 20px;
    }

    .container-text-projects {
        width: 40%;
    }

    .certifications {
        font-size: 32px;
    }

    .subtitle-certification {
        width: 50%;
        font-size: 16px;
    }

    .image-certificate {
        width: 40%;
    }

    .carousel-control-next {
        width: 50%;
    }

    .carousel-control-prev {
        width: 50%;
    }

    .sectionForm {
        margin: 80px 0 20px 0;
    }

    .form-contact {
        width: 55%;
        margin: auto;
    }

    .titleForm {
        font-size: 32px;
    }

    .subtitleForm {
        width: 40%;
    }
}