@media screen and (max-width:820px) {

    .navbar-toggler {
        margin-right: 15px;
        background-color: white;
    }

    .navbar {
        height: auto;

    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        gap: 30px;
    }

    .navbar-collapse {
        justify-content: center;
        background-color: #212529;
        text-align: center;
        width: 100%;
    }

    .container-fluid {
        padding: 0px;
    }

    .heroImage {
        height: 600px;
    }

    .containerHeroText {
        margin: auto;
    }

    .textName {
        font-size: 14px;
    }

    .textNamePrincipal {
        font-size: 32px;
    }

    .textDescription {
        font-size: 14px;
        width: 50vw;
    }

    .containerTextAboutMe {
        width: 40%;
    }

    .DescriptionAboutMe {
        font-size: 14px;
    }

    .icons-image {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }

    .sectionPortfolio {
        margin: 60px 0 0 0;
    }

    .subtitlePortfolio {
        width: 80%;
        font-size: 14px;
    }

    .containerProjects {
        flex-wrap: wrap;
    }

    .containerTextProjects {
        width: 530px;
    }

    .titleProject {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .descriptionProject {
        font-size: 14px;
    }

    .buttonPortfolio {
        width: 160px;
        font-size: 16px;
    }

    .subtitleCertification {
        width: 70%;
        font-size: 14px;
    }

    .image-certificate {
        width: 70%;
    }

    .carousel-control-next {
        width: 20%;
    }

    .carousel-control-prev {
        width: 20%;
    }

    .subtitleForm {
        width: 70%;
        font-size: 14px;
    }

    .content {
        width: 80vw;
        margin: auto;
    }
}