.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    z-index: 2;
}


.collapse {
    justify-content: flex-end;
}

.navbar-nav {
    align-items: center;
    margin-right: 50px;
    gap: 30px;

    * {
        transition: all .35s ease;
    }
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: relative;

    &:hover {
        color: rgb(203, 203, 203);
    }
}

.buttonContactoNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8CF50;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

    &:hover {
        background-color: rgb(214, 214, 214);
        color: black;
    }
}

.nav-link::before,
.nav-link::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-link::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #E8CF50;
    border-right: 3px solid #E8CF50;
    transform: translate(-100%, 50%);
}

.nav-link:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #E8CF50;
    border-left: 3px solid #E8CF50;
    transform: translate(100%, -50%);
}

.nav-link:hover:before,
.nav-link:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}