.containerFooter {
    margin-top: 90px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.icons-image:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.icons-image:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.textDerechos {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px;
    font-weight: 600;
}

.icons-image:hover:before {
    top: 0;
}

.icons:nth-child(8) a:before {
    background: #000000;
}

.icons:nth-child(9) a:before {
    background: #55acee;
}

.icons:nth-child(10) a:before {
    background: #0077b5;
}

.icons:nth-child(11) a:before {
    background: #dd4b39;
}