.navbar {
    position: fixed;
    z-index: +2;
    width: 100vw;
    height: 65px;

    .collapse {
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;

        .navbar-nav {
            display: flex;
            justify-content: space-around;
            gap: 30px;

            * {
                transition: all .35s ease;
            }

            .nav-link {
                color: rgb(255, 255, 255);
                position: relative;
                font-family: 'Roboto Mono', monospace;
                font-size: 18px;
                text-decoration: none;

                &:hover {
                    color: rgb(203, 203, 203);
                }
            }
        }
    }
}

.nav-link::before,
.nav-link::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-link::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #E8CF50;
    border-right: 3px solid #E8CF50;
    transform: translate(-100%, 50%);
}

.nav-link:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #E8CF50;
    border-left: 3px solid #E8CF50;
    transform: translate(100%, -50%);
}

.nav-link:hover:before,
.nav-link:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav-link:hover {
    color: #2772dc;
}